<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./TestHelper.php" colors="true">
	<testsuite name="SSO Client Tests">
		<directory>./library/Sso/</directory>
	</testsuite>

	<filter>
		<whitelist>
			<directory suffix=".php">../Sso/</directory>
			<exclude>
				<directory suffix=".php">../Sso/Plugin/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
